body {
    padding-top: 10px;
    text-align: center;
}

.container {
  padding-top: 10px;
  width: 100% !important;
  text-align: center !important; 
}

.logo {
  padding-bottom: 25px;
  text-align: center;
  width: 60%;
}

h1 {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header {
  color: orange;
}

.row {
  font-size: 20px;
  font-style: italic;
}

img {
  width: 90px;
}

.menu {
  width: 100%;
  table-layout: fixed;
}

.menu .item-icon {
    width: 61px;
    height: 75px;
    text-align: center;
}

.menu .item-detail{
    text-align: left;
    padding-left: 20px;
}


.food-icon {
  width: 60px;
  height: 60px;
}

.items {
  width: calc(100% - 0px);
  table-layout: fixed;
  height: 100%;
}


.items .price {
  text-align: right;
  padding-top: 10px;
  width: 40px;
}

table.item-btns {
    float: right;
}


.item-btns td {
    width: 16px;
    text-align: center;
    padding:0px;
}
.item-btns td:nth-child(2) {
    width: 40px;
}
.add-remove-btn {
  height: 16px;
  width: 16px;
}


