body {
    padding-top: 10px;
    text-align: center;
}

.container {
  padding-top: 10px;
  width: 100% !important;
  text-align: center !important; 
}

.logo {
  padding-bottom: 25px;
  text-align: center;
  width: 60%;
}

h1 {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header {
  color: orange;
}

.row {
  font-size: 20px;
  font-style: italic;
}

img {
  width: 90px;
}

.menu {
  width: 100%;
  table-layout: fixed;
}

.menu td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu td:first-child {
    width: 80px;
    text-align: center;
}

.menu td:last-child {
    text-align: left;
    padding-left: 20px;
}

.menu td button {
  padding-top: 0px;
}

.food-icon {
  width: 60px;
  height: 75px;
}

.items {
  width: 100%;
  table-layout: fixed;
  height: 100%;
}

.items td {
  padding-bottom: 15px;
}

.items td span {
  padding-top: 0px;
}

.items td:first-child{
  text-align: left;
  padding-left: 0px;
  padding-top: 10px;
}

.items td:nth-child(2) {
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  width: 20px
}

/* .btn-container-row {
  width: 100% !important;
} */

.btn-container {
  float: right;
  padding-right: 0px;
  text-align: right;
  margin-right: 0px;
}

.btn-container table td{
  width: 10px;
  height: 15px;
}

.menu-btn {
  padding-bottom: 2px;
}

.food-quantity {
  font-size: 15px;
}

.add-remove-btn {
  height: 12px;
  width: 12px;
}


